/* large.css */

@media (min-width: 760px) {
  header{
    grid-template-columns: 24px auto;
  }
  .hamburger{
    display: none;
  }

  .navigation{
    display: block;
    border-bottom: solid 1px #eee;
  }

  .navigation ul{
    display: flex;
  }

   .navigation a{
    border: none;

  }

   /* header, main, nav, footer{
    max-width: 800px;
    margin: 0, auto;
  }  */
  

/* @media (min-width: 640px) {
  nav ul {
    display: flex;
    gap: 2rem;
  } */

  #members.grid {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }


/* @media (min-width: 900px) {
  header {
    padding: 0 2rem;
  } */

  main {
    max-width: 1200px;
    margin: var(--header-height) auto 0;
  }

  #members.list section {
    display: grid;
    grid-template-columns: 2fr 3fr 1fr;
    align-items: center;
  }
  #spotlight-container {
  grid-template-columns: repeat(3, 1fr);
  }
  #weather-icon {
    width: 128px;
    height: 128px;
  }
  .why-join ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }

  .why-join li {
    border-bottom: none;
    background-color: #ffffff;
    padding: 1rem;
    border-radius: 0.5rem;
    text-align: center;
  }
  
}
