@media (min-width: 760px) {
   /* header, main, nav, footer{
    max-width: 800px;
    margin: 0, auto;
  }  */
  header{
    grid-template-columns: 24px auto;
  }
  .hamburger{
    display: none;
  }

  .navigation{
    display: block;
    border-bottom: solid 1px #eee;
  }

  .navigation ul{
    display: flex;
  }

   .navigation a{
    border: none;

  }

  .top-sections {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
    margin-bottom: 2rem;
  }

  .about,
  .photo {
    background-color: #f3f4f6;
    padding: 1.5rem;
    border-radius: 8px;
  }

  /* nav {
    display: block !important;
  } */

  /* nav ul {
    display: flex;
    justify-content: center;
  } */

  .course-grid {
    grid-template-columns: repeat(3, 1fr);
  }

 
}