@media (max-width: 599px) {

  nav ul {
    position: absolute;
    display: none;
    flex-direction: column;
    background-color: var(--primary);
    position: absolute;
    top: 64px;
    right: 0;
    width: 200px;
  }

  nav ul.open {
    display: flex;
  }

  #menuButton {
    display: block;
    font-size: 2rem;
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
  }

  #places {
    grid-template-columns: 1fr;
  }
}
